.cartoon{
    width: 100%
}

.ctTitle{
    text-align: center;
}

.quote2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    font-size: 20px; 
}

.email, .email:hover, .email:link, .email:visited, .email:active{
    font-size: 25px; 
    color: black;

}

.phone, .phone:hover, .phone:link, .phone:visited, .phone:active{
    font-size: 25px; 
    color: black; 
}